* { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(25, 18, 54);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: rgb(17, 104, 89);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.527);
}